      /* ======= Base ======= */
    
    body {
        font-family: 'Lato', arial, sans-serif;
        color: #434343;
        background: #e2e9ec;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .well {
        font-weight: 700;
        background-color: #333333;
        border-radius: 10px;
    }
    
    a {
        color: #cc0000
    }
    
    a:hover {
        text-decoration: underline;
        color: #5f6b77;
    }
    
    a:focus {
        text-decoration: none;
    }
    
    .btn-primary {
        background: #c30000;
        border: 1px solid #c30000;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    .btn-primary:hover {
        background: #3893bd;
        border: 1px solid #3893bd;
        color: #fff;
    }
    /*carousel*/
    
    .carousel-inner,
    .item,
    a,
    img {
        margin: auto;
    }
    /*jumbotron*/
    
    .jumbotron {
        background: -webkit-linear-gradient(left, rgba(66, 59, 64, 0), rgba(66, 59, 64, 1));
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, rgba(66, 59, 64, 0), rgba(66, 59, 64, 1));
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, rgba(66, 59, 64, 0), rgba(66, 59, 64, 1));
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, rgba(66, 59, 64, 0), rgba(66, 59, 64, 1));
        /* Standard syntax (must be last) */
        color: #fff;
    }
    
    ul li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    .social a {
        background: #b0b7bf;
        width: 36px;
        height: 36px;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        color: #fff;
        text-align: center;
    }
    /* Table */
    
    td {
        color: white;
        background-color: #6a5f67;
    }
footer .well{
    color: white;
}

    /* Extra small devices (phones, less than 768px) */
    
    @media (max-width: 767px) {
        .job {
            font-size: 0.8em;
        }
        /* Small devices (tablets, 768px and up) */
        /* Medium devices (desktops, 992px and up) */
        /* Large devices (large desktops, 1200px and up) */
        /* Ex-Large devices (large desktops, 1200px and up) */
        @media (min-width: 1400px) {
            .container {
                width: 1360px;
            }
        }
